:root {
  --dark-blue-100: #609ed4;
  --dark-blue-200: #356ea9;
  --dark-blue-300: #0a3871;
  --dark-blue-400: #072b61;
  --dark-blue-500: #052051;
  --light-blue-100: #f3f5fc;
  --light-blue-200: #eff1fa;
  --light-blue-300: #e9ecf8;
  --light-blue-400: #aab2d5;
  --light-blue-500: #757fb2;
  --gray-100: #ced4da;
  --gray-200: #adb5bd;
  --gray-300: #868e96;
  --gray-400: #495057;
  --gray-500: #343a40;
}

body {
  background-color: var(--light-blue-100);
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em;
}

.sombra {
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  overflow-y: hidden;
  overflow-x: hidden;
}

#inputText {
  font-weight: 400;
  color: var(--dark-blue-300);
  resize: none;
  border: none;
  background-color: var(--light-blue-100);
}

#inputText::placeholder {
  color: var(--dark-blue-300);
}

#outputText {
  resize: none;
  border: none;
}

#outputText:focus {
  box-shadow: none;
}

.hint {
  font-size: 12px;
  margin-bottom: 2px;
  color: var(--gray-400);
}

@media (min-width: 769px) {
  #encryptText,
  #decryptText {
    width: calc(50% - 10px);
  }
}

@media (max-width: 768px) {
  .buttons {
    display: grid;
    gap: 0.5rem;
  }
}

#encryptText {
  background-color: var(--dark-blue-300);
  border: 1px solid var(--dark-blue-300);
  border-radius: 24px;
  color: #ffffff;
}

#encryptText:hover {
  background-color: var(--dark-blue-400);
  border: 1px solid var(--dark-blue-400);
}

#decryptText,
#copyOutputText {
  background-color: #ffffff;
  border: 1px solid var(--dark-blue-300);
  color: var(--dark-blue-300);
  border-radius: 24px;
}

#decryptText:hover,
#copyOutputText:hover {
  background-color: var(--light-blue-200);
  border: 1px solid var(--dark-blue-400);
}

.no-message-img {
  background-image: url("./img/Muñeco.png");
  width: 336px;
  height: 304px;
}

.no-message {
  font-family: "Inter-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--gray-500);
}

.message {
  text-align: center;
  color: var(--gray-400);
}

footer,
a {
  color: var(--dark-blue-300);
}